language: python
python:
  - "3.3"
  - "2.7"
  - "2.6"
env:
  - DJANGO_VERSION=1.5.4
  - DJANGO_VERSION=1.4.8
# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install:
  - pip install -q Django==$DJANGO_VERSION
  - python setup.py -q install
# command to run tests, e.g. python setup.py test
script: django-admin.py test stardate --settings=example.example.settings
