{% extends "stardate/base_stardate.html" %}


{% block page %}
    <ul class="breadcrumbs">
        <li><a href="{% url 'post-archive-index' blog_slug=post.blog.slug %}">Drafts</a></li>
    </ul>

    {% block content_title %}
        <h1>{{ post.title }}</h1>
        <p><strong>This post is currently in draft</strong></p>
        {% if request.user == post.blog.user %}
        <p><a href="{% url 'draft-post-edit' blog_slug=post.blog.slug stardate=post.stardate %}">Edit draft</a></p>
        {% endif %}
    {% endblock content_title %}


    {% block content %}
        {{ post.body }}
    {% endblock content %}
{% endblock page %}
