{% extends "stardate/base_stardate.html" %}

{% block title %}{{ blog.name }} post list{% endblock %}
{% block body_class %}{{ block.super }} blog_list{% endblock %}


{% block content_title %}
    <h1>{{ blog.name }}</h1>
{% endblock %}


{% block content %}
    {% if user.is_authenticated and blog.user == user %}
        <p>
            <a href="{% url 'post-create' blog_slug=blog.slug %}">New post</a>
        </p>
    {% endif %}
    
    {% if post_list %}
        <ul>
        {% for post in post_list %}
            <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No posts to display.</p>
    {% endif %}
{% endblock %}
