{% extends "stardate/base_stardate.html" %}


{% block title %}{{ post.title }}{% endblock %}


{% block page %}
    {% block breadcrumbs %}
    {% include 'stardate/includes/breadcrumbs.html' %}
    {% endblock breadcrumbs %}


    {% block content_title %}
        {% load tz %}

        <h1>{{ post.title }}</h1>

        {% if post.publish %}
        {% timezone post.timezone %}
        <ul>
            <li class="pubdate">
                {% with post.publish as publish %}
                <time datetime="{{ publish|date:"c" }}" pubdate>{{ publish|date:"l, F jS, Y P e" }}</time>

                <br />
                {% endwith %}
            </li>
        </ul>
        {% endtimezone %}

        <time>{{ post.publish|date:'c' }}</time>
        {% endif %}

        {% if request.user == post.blog.user %}
            <li>
                <a href="{% url 'post-edit' blog_slug=post.blog.slug year=post.publish.year month=post.publish|date:"b" day=post.publish.day post_slug=post.slug %}">
                    Edit post
                </a>
            </li>
        {% endif %}
        </ul>
    {% endblock content_title %}


    {% block content %}
        {{ post.body }}
    {% endblock content %}

    {% block pagination %}
        {% if post.get_prev_post %}
            <p><a href="{{ post.get_prev_post.get_absolute_url }}">Previous: {{ post.get_prev_post.title }}</a></p>
        {% endif %}

        {% if post.get_next_post %}
            <p><a href="{{ post.get_next_post.get_absolute_url }}">Next: {{ post.get_next_post.title }}</a></p>
        {% endif %}
    {% endblock pagination %}
{% endblock page %}
