{% extends "stardate/base_stardate.html" %}


{% block content_title %}
    <h1>Select a provider</h1>
{% endblock content_title %}


{% block content %}
    <form method="post" action=".">
        {% csrf_token %}

        <ul>
            {% for name, backend in stardate_backends.items %}
                <li>
                    <label for="{{ backend.name|lower }}-provider">
                        <input id="{{ backend.name|lower }}-provider" type="radio" name="backend" value="{{ backend.name|lower }}"{% if forloop.first %} checked{% endif %}>
                        {{ backend.name }}
                    </label>
                </li>
            {% endfor %}
        </ul>

        <button type="submit">Submit</button>
    </form>
{% endblock content %}
